<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Angular CRUD with Json-server
    </a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<button  (click)="clickAddEmployee()" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float: right;">
  <i class="fa fa-plus-square" aria-hidden="true"></i>
  Add Employee
</button>
<br><br>
<h1 style="font-family: 'Times New Roman', Times, serif;">Table Employee</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeeData">
      <td>{{row.id}}</td>
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.email}}</td>
      <td>{{row.mobile}}</td>
      <td>
        <button (click)="onEdit(row)" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
        <button (click)="deletEmployee(row)" class="btn btn-danger mx-3"><i class="fa fa-trash-o" aria-hidden="true"></i>  Delete</button>
      </td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile</label>
            <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button *ngIf="showAdd" type="button" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
        <button *ngIf="showUpdate" type="button" (click)="updatEmployee()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
